In [1]:
import numpy as np
import pandas as pd

## Series / Seriler

In [16]:
benimSozlugum = {"Ahmet" : 50, "Zeynep": 40, "Emre" : 30}

In [17]:
pd.Series(benimSozlugum)

Ahmet     50
Zeynep    40
Emre      30
dtype: int64

In [21]:
benimYaslarim = [50,40,30]
benimIsimlerim = ["Ahmet", "Zeynep", "Emre"]

In [22]:
pd.Series(benimYaslarim)

0    50
1    40
2    30
dtype: int64

In [23]:
pd.Series(benimYaslarim, benimIsimlerim)

Ahmet     50
Zeynep    40
Emre      30
dtype: int64

In [24]:
pd.Series(data=benimYaslarim, index=benimIsimlerim)

Ahmet     50
Zeynep    40
Emre      30
dtype: int64

In [25]:
numpyDizisi = np.array([50,40,30])

In [26]:
numpyDizisi

array([50, 40, 30])

In [27]:
pd.Series(numpyDizisi)

0    50
1    40
2    30
dtype: int32

In [28]:
pd.Series(numpyDizisi,benimIsimlerim)

Ahmet     50
Zeynep    40
Emre      30
dtype: int32

In [32]:
pd.Series(["Atil","Atlas","Okan"],[1,2,3])

1     Atil
2    Atlas
3     Okan
dtype: object

In [34]:
yarismaSonucu1 = pd.Series([10,5,1],["Atil","Atlas","Okan"])

In [36]:
yarismaSonucu1

Atil     10
Atlas     5
Okan      1
dtype: int64

In [37]:
yarismaSonucu2 = pd.Series([20,10,8],["Atil","Atlas","Okan"])

In [38]:
yarismaSonucu2

Atil     20
Atlas    10
Okan      8
dtype: int64

In [39]:
yarismaSonucu2["Atlas"]

10

In [40]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [41]:
sonSonuc

Atil     30
Atlas    15
Okan      9
dtype: int64

In [46]:
farkliSeries1 = pd.Series([20,30,40,50],["a","b","c","d"])

In [47]:
farkliSeries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [48]:
farkliSeries1

a    20
b    30
c    40
d    50
dtype: int64

In [49]:
farkliSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [50]:
farkliSeries1 + farkliSeries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64